.bg-grey {
  background: #f1f1f1;
}
.mg-b-30 {
  margin-bottom: 30px;
}
.pd-t-60 {
  padding-top: 60px;
}
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.section-title::before {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0;
  background: #e21616;
  width: 13px;
  height: 2px;
}
.section-title::after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 15px;
  background: #000;
  width: 70px;
  height: 2px;
}
a.arrow-btn {
  position: relative;
  padding-right: 20px;
  text-decoration: none;
  transition: all 0.5s ease;
}
a.arrow-btn::before {
  position: absolute;
  content: '\f101';
	font-family: 'FontAwesome';
  right: 8px;
  top: 52%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}
a.arrow-btn:hover::before {
  right: 2px;
}

