/* Header Strip */
.header-strip {
  background: #333;
  color: #fff;
  display: flex;
  align-content: center;
}
.header-strip h3 {
  margin: 0;
}
.header-strip-wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
}
.header-strip-wrapper .title-holder {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.header-strip-wrapper .title-holder .ticker-title {
  padding-left: 15px;
}
.header-strip-wrapper .title-holder #todaysDate {
  padding-right: 15px;
  border-right: 1px solid #fff;
}
.header-strip-wrapper .title-holder h3{
  font-size: 16px;
}
.header-strip-wrapper .latest-article-ticker {
  width: 550px;
  display: flex;
  background: #404040;
}
.header-strip-wrapper .latest-article-ticker .header-article {
  position: relative;
  padding: 10px 80px 10px 10px;
}
.header-strip-wrapper .latest-article-ticker .header-article h3 {
  font-size: 16px;
  line-height: 1.75;
  font-weight: normal;
}
.header-strip-wrapper .latest-article-ticker .header-article a {
  color: #fff;
  font-weight: normal;
}
.header-strip-wrapper .latest-article-ticker .header-article .owl-nav {
  position: absolute;
  right: 30px;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}
.header-strip-wrapper .latest-article-ticker .header-article .owl-nav button:hover span {
  opacity: 1;
}
.header-strip-wrapper .latest-article-ticker .header-article .owl-nav button:focus {
  outline: none;
}
.header-strip-wrapper .latest-article-ticker .header-article .owl-nav button span {
  font-size: 32px;
  opacity: 0.5;
  transition: all 0.5s ease;
}
.header-strip-wrapper .latest-article-ticker .header-article .owl-dots {
  display: none;
}
.header-strip .social-icons {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  justify-content: flex-end;
  padding: 10px 0;
  margin-left: auto;
}
.header-strip .social-icons li {
  background: #ff4b4b;
  color: #fff;
  text-align: center;
  border: 1px solid #ff4b4b;
  transition: all 0.5s ease;
  min-width: 30px;
}
.header-strip .social-icons li a {
  color: #fff;
  padding: 5px 8px;
}
.header-strip .social-icons li:hover {
  background: transparent;
  color: #ff4b4b;
}